extends layout.pug

block content
  .container.mt-5
    h1.mb-4 File Details

    table.table
      thead
        tr
          th Name
          th Value
      tbody
        tr
          td ID
          td= file.id
        tr
          td Name
          td= file.name
        tr
          td Extension
          td= file.extension
        tr
          td Size
          td= file.size
        tr
          td Created At
          td= file.created_at

    form(method="POST", action="/files/" + file.id + "/delete")
      button.btn.btn-danger Delete File

    h4.mt-5 Response
    .card.bg-light
      .card-body
        pre
          code
            = JSON.stringify(file, null, "  ")
