extends layout.pug

block content
  .container.mt-5
    h1 Regsiter

    form(method="POST" action="/register")
      if error
        .alert.alert-danger
          = error

      .form-group
        label(for='email') Email address
        input#email.form-control(
          placeholder='Enter email'
          type='email'
          name="email"
          value=email)

      .form-group
        label(for='password') Password
        input#password.form-control(
          placeholder='Password'
          type='password'
          name="password"
          value=password)

      .form-group
        label(for='passwordConfirmation') Password Confirmation
        input#passwordConfirmation.form-control(
          placeholder='Password Confirmation'
          name="confirmation"
          value=confirmation
          type='password' )

      .form-group
        label(for='custom_data') Custom Data
        textarea#custom_data.form-control(
          placeholder='Custom Data'
          name="custom_data"
          type='password' )= custom_data

      button.btn.btn-primary(type='submit') Submit
