extends layout.pug

block content
  .container.mt-5
    h1 Send Email

    form(method="POST" action="/send-email")
      if error
        .alert.alert-danger
          = error

      if success
        .alert.alert-success
          | The email has been sent!

      .form-group
        label(for='to') To email address
        input#to.form-control(
          placeholder='Enter to address'
          type='email'
          name="to"
          value=to)

      .form-group
        label(for='from') From email address
        input#from.form-control(
          placeholder='Enter from address'
          type='email'
          name="from"
          value=from)

      .form-group
        label(for='subject') Subject
        input#subject.form-control(
          placeholder='Enter subject'
          type='text'
          name="subject"
          value=subject)

      .row
        .col-sm
          .form-group
            label(for='html') HTML content
            textarea#html.form-control(
              placeholder='Enter HTML content'
              rows=10
              name="html")= html

        .col-sm
          .form-group
            label(for='text') Text content
            textarea#text.form-control(
              placeholder='Enter text content'
              rows=10
              name="text")= text

      button.btn.btn-primary(type='submit') Submit
